*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

a{

    text-decoration: none;
}

body{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 100px 1fr 100px;
    padding-left: 96px;
    padding-right: 96px;
    background-color: #293951;

}

h1{
    margin-left: 29cm;
    margin-top: 0cm;

}

.titulo1{
    color: white;
}

.titulo2{
    color: rgb(0, 204, 255);
}

.napoli{
    
    height: 65px;
    width: 65px;
    margin-left: 50px;
    display: grid;

}


.galeria{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-areas: 
        "f1 f1 f1 f1 f1 f2 f2 f2 f3 f3 f3"
        "f1 f1 f1 f1 f1 f4 f4 f4 f5 f5 f5"
        "f6 f6 f6 f7 f7 f7 f8 f8 f8 f8 f8";
        gap: 14px;

}

.foto{
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 0px 8px;
    overflow: hidden;
}

.foto:nth-child(1){
    grid-area: f1;
    background-image: url(./maradona\ 1.jpg);
    background-size: cover;
    background-position: center;

}

.botao{

    width: 5%;
    height: 1cm;
    margin-left: 17cm;
}

.foto:nth-child(2){
    grid-area: f2;
    background-image: url(./osimhen\(2\).jpg);
    background-size: cover;
    background-position: initial;
}

.foto:nth-child(3){
    grid-area: f3;
    background-image: url(./kvara\ 4.jfif);
    background-size: cover;
    background-position: initial;
}


.foto:nth-child(4){
    grid-area: f4;
    background-image: url(./insigne\ 4.jpg);
    background-size: cover;
    background-position: center;
}


.foto:nth-child(5){
    grid-area: f5;
    background-image: url(./milik\ insigne\ 5.jpg);
    background-size: cover;
    background-position: initial;
}


.foto:nth-child(6){
    grid-area: f6;
    background-image: url(./imagem\ 6.jpg);
    background-size: cover;
    background-position: center;
}


.foto:nth-child(7){
    grid-area: f7;
    background-image: url(./napoli\ 7.webp);
    background-size: cover;
    background-position: center;
}


.foto:nth-child(8){
    grid-area: f8;
    background-image: url(./imagem\ 8.jpg);
    background-size: cover;
    background-position: top;
}

.foto__info{
    position: absolute;
    width: 100%;
    height: 64px;
    background-color: #0009;
    color: white;
    bottom: 0;
    transform: TranslateY(100%);
    transition: 1s;
}

.foto:hover > .foto__info{
    transform: translateY(0%);
}

@media (max-width: 768px) {
    body{
        padding-left: 12px;
        padding-right: 12px;

    }

    .galeria{
        display: flex;
        flex-direction: column;
    }

    .foto{
        width: 100%;
        height: 33vh;
    }

}